<h2>Products</h2>
<hr>
<ul>
  <% @products.each do |product|  %>
    <li>Name: <%= link_to product.name, product_path(product) %> - $<%= product.cost %>/ Origin: <%= product.country %></li>
  <% end %>
</ul>
